RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Portada
# RewriteRule ^([a-z]{2})/?$ index.php?c=pagina&m=ver&p=portada

# Contenidos
# RewriteRule ^([a-z-]+)/?$ index.php?c=pagina&m=ver&p=$1

# ErrorDocument 404 /index.php?c=pagina&m=pagina404

# Clases
RewriteRule ^([a-z-]+)/([a-z-]+)/?$ index.php?c=$1&m=$2
RewriteRule ^([a-z-]+)/([a-z-]+)/([a-z0-9-]+)/?$ index.php?c=$1&m=$2&p1=$3
RewriteRule ^([a-z-]+)/([a-z-]+)/([a-z0-9-]+)/([a-z0-9-]+)/?$ index.php?c=$1&m=$2&p1=$3&p2=$4
RewriteRule ^([a-z-]+)/([a-z-]+)/([a-z0-9-]+)/([a-z0-9-]+)/([a-z0-9-]+)/?$ index.php?c=$1&m=$2&p1=$3&p2=$4&p3=$5
RewriteRule ^([a-z-]+)/([a-z-]+)/([a-z0-9-]+)/([a-z0-9-]+)/([a-z0-9-]+)/([a-z0-9-]+)/?$ index.php?c=$1&m=$2&p1=$3&p2=$4&p3=$5&p4=$6